<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PerformanceSuite" verbose="1">
    <test name="LongLivedTest">
        <classes>
            <class name="com.inspify.vb.test.LongLivedTest" />
        </classes>
    </test>

    <test name="MalleusJitsitificus">
        <classes>
            <class name="org.jitsi.meet.test.MalleusJitsificus" />
        </classes>
    </test>
</suite>
